[alias]
  br = branch
  ci = commit
	co = checkout
  df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[core]
	quotepath = false
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[github]
	user = bry
[gist]
  private = true
[push]
	default = matching
[user]
	name = Bryan B. Cabalo
	email = bcabalo@gmail.com
